.has-warning .form-control-warning {
    background-image: none!important;
    border-right-width: thick!important;
    /*padding-right: 0.5rem!important;*/
}
.has-danger .form-control-danger {
    background-image: none!important;
    /*border-right-width: thick!important;
    padding-right: 0.5rem!important;*/
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #eba5a3;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #eba5a3;
}
.alert {
    padding: .5rem .75rem;
    margin-bottom: 0;
}