i.textbox-warning{margin-left:0.25rem;cursor:help;color:#ffa500;}
.has-warning .form-control-warning {background-image: none!important;border-right-width: thick!important;padding-right: 0.5rem!important;}
.alert {
    padding: .5rem .75rem;
    margin-bottom: 0;
}