<span *ngIf="type != 'hidden'" class="form-group {{hasClass}}">
	<!--<go-label *ngIf="hiddenLabel != 'true'" [label]="label" [require]="require" ></go-label>
	<label *ngIf="hiddenLabel == 'true'" class="sr-only">{{label}}</label>-->
	<span *ngIf="require == 'true'">
		<input [tooltip]="warningMsgReturn" #pop="bs-tooltip" placement="top" *ngIf="type == 'text'" #input class="form-control {{colorClass}} {{hasFormControlClass}}" type="text" [id]="goId" [name]="goName" [placeholder]="placeholder" [customDisabled]="disable" [customReadonly]="readonly"
			[value]="defaultValue" [customMaxlength]="maxlength" (keyup)="customValidate(input.value)">

		<input [tooltip]="warningMsgReturn" #pop="bs-tooltip" placement="top" *ngIf="type == 'password'" #input class="form-control {{colorClass}} {{hasFormControlClass}}" type="password" [id]="goId" [name]="goName" [placeholder]="placeholder" [customDisabled]="disable" [customReadonly]="readonly"
			[value]="defaultValue" [customMaxlength]="maxlength" (keyup)="customValidate(input.value)">

		<input [tooltip]="warningMsgReturn" #pop="bs-tooltip" placement="top" *ngIf="type == 'integer'" #input class="form-control {{colorClass}} {{hasFormControlClass}}" [id]="goId" [name]="goName" [placeholder]="placeholder" [customDisabled]="disable"
			[customReadonly]="readonly" type="number" [value]="defaultValue" [customMaxlength]="maxlength" (keyup)="validateInteger(input.value)">

		<input [tooltip]="warningMsgReturn" #pop="bs-tooltip" placement="top" *ngIf="type == 'number'" #input class="form-control {{colorClass}} {{hasFormControlClass}}" [id]="goId" [name]="goName" [placeholder]="placeholder" [customDisabled]="disable" [customReadonly]="readonly"
			type="currency" [value]="defaultValue" (focus)="clearFormat(input.value)" (blur)="defaultValue = numberWithFormat" (keyup)="validateNumber(input.value)">

		<input [tooltip]="warningMsgReturn" #pop="bs-tooltip" placement="top" *ngIf="type == 'email'" #input class="form-control {{colorClass}} {{hasFormControlClass}}" type="email" [id]="goId" [name]="goName" [placeholder]="placeholder" [customDisabled]="disable"
			[customReadonly]="readonly" [value]="defaultValue" [customMaxlength]="maxlength" (keyup)="validateEmail(input.value)">
	</span>
	<span *ngIf="require != 'true'">
		<input [tooltip]="warningMsgReturn" #pop="bs-tooltip" placement="top" *ngIf="type == 'text'" #input class="form-control {{colorClass}} {{hasFormControlClass}}" type="text" [id]="goId" [name]="goName" [placeholder]="placeholder" [customDisabled]="disable" [customReadonly]="readonly"
			[value]="defaultValue" [customMaxlength]="maxlength" (keyup)="customValidate(input.value)">

		<input [tooltip]="warningMsgReturn" #pop="bs-tooltip" placement="top" *ngIf="type == 'password'" #input class="form-control {{colorClass}} {{hasFormControlClass}}" type="password" [id]="goId" [name]="goName" [placeholder]="placeholder" [customDisabled]="disable" [customReadonly]="readonly"
			[value]="defaultValue" [customMaxlength]="maxlength" (keyup)="customValidate(input.value)">

		<input [tooltip]="warningMsgReturn" #pop="bs-tooltip" placement="top" *ngIf="type == 'integer'" #input class="form-control {{colorClass}} {{hasFormControlClass}}" [id]="goId" [name]="goName" [placeholder]="placeholder" [customDisabled]="disable"
			[customReadonly]="readonly" type="number" [value]="defaultValue" [customMaxlength]="maxlength" (keyup)="validateInteger(input.value)">

		<input [tooltip]="warningMsgReturn" #pop="bs-tooltip" placement="top" *ngIf="type == 'number'" #input class="form-control {{colorClass}} {{hasFormControlClass}}" [id]="goId" [name]="goName" [placeholder]="placeholder" [customDisabled]="disable" [customReadonly]="readonly"
			type="currency" [value]="defaultValue" (focus)="clearFormat(input.value)" (blur)="defaultValue = numberWithFormat" (keyup)="validateNumber(input.value)">

		<input [tooltip]="warningMsgReturn" #pop="bs-tooltip" placement="top" *ngIf="type == 'email'" #input class="form-control {{colorClass}} {{hasFormControlClass}}" type="email" [id]="goId" [name]="goName" [placeholder]="placeholder" [customDisabled]="disable"
			[customReadonly]="readonly" [value]="defaultValue" [customMaxlength]="maxlength" (keyup)="validateEmail(input.value)">
	</span>
</span>
<input *ngIf="type == 'hidden'" [id]="goId" [name]="goName" type="hidden" [value]="defaultValue">