<!--<div class="form-group">-->
	<div *ngIf="type != 'hidden'"class="textbox-with-msg">
		<gos-label [label]="label" [require]="require"></gos-label>
		<input *ngIf="type == 'text'" #input class="form-control {{colorClass}}" type="text" [id]="id" [name]="name" [placeholder]="placeholder" [customDisabled]="disable" [customReadonly]="readonly"
			[value]="defaultText" [customMaxlength]="maxlength" (blur)="customValidate(input.value)">

		<input *ngIf="type == 'password'" #input class="form-control {{colorClass}}" type="password" [id]="id" [name]="name" [placeholder]="placeholder" [customDisabled]="disable" [customReadonly]="readonly"
			[value]="defaultText" [customMaxlength]="maxlength" (blur)="customValidate(input.value)">

		<input *ngIf="type == 'integer'" #input class="form-control {{colorClass}}" [id]="id" [name]="name" [placeholder]="placeholder" [customDisabled]="disable"
			[customReadonly]="readonly" type="number" [value]="defaultText" [customMaxlength]="maxlength" (blur)="validateInteger(input.value)">

		<input *ngIf="type == 'number'" #input class="form-control {{colorClass}}" [id]="id" [name]="name" [placeholder]="placeholder" [customDisabled]="disable" [customReadonly]="readonly"
			type="currency" [value]="defaultText" (focus)="clearFormat(input.value)" (blur)="validateNumber(input.value)">

		<input *ngIf="type == 'email'" #input class="form-control {{colorClass}}" type="email" [id]="id" [name]="name" [placeholder]="placeholder" [customDisabled]="disable"
			[customReadonly]="readonly" [value]="defaultText" [customMaxlength]="maxlength" (blur)="validateEmail(input.value)">
		<small id="{{id}}_warningMsg" class="form-text text-muted"><font color="red">{{warningMsgReturn}}</font></small>
	</div>
	<input *ngIf="type == 'hidden'" [id]="id" [name]="name" type="hidden" [value]="defaultText">